@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;700&display=swap');

:root {
    --ff-nooa: Nooa;
    --ff-neuton: 'Neuton', serif;
    --clr-white: #FFFFFF;
    --clr-grey-1: #D9D9D9;
    --clr-grey-2: #616161;
    --clr-grey-3: #383838;
    --clr-brown: #2F1D18;
    --transition: 0.1s ease;
}

@font-face {
    font-family: Nooa;
    src: url(assets/NOOA\ Demi-Serif\ DEMO.ttf);
    font-weight: normal;
}


* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0vw;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
}

h1 {
    margin: 0vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    padding: 20vw 0vw 4vw 12vw;
}

.menu-btn {
    background-color: var(--clr-brown);
    opacity: 0.75;
    border: none;
    padding: 0vw 6vw;
    cursor: pointer;
    transition: var(--transition);
}

.menu-btn:hover { 
    opacity: 1;
}

.menu-btn:focus {
    background-color: var(--clr-brown);
}

.hamburger {
    margin: 6vw 0vw 0vw 0vw;
}

.inspire {
    background-image: url(assets/mobile-tv.png);
    width: 100vw;
    height: 147vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.canvas {
    height: inherit;
    backdrop-filter: brightness(0.7);
}

.inspire-text {
    color: var(--clr-white);
    font-family: var(--ff-nooa);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.75vw;
    font-size: 2.5em;
    padding: 90vw 24vw 1vw 10vw;
    line-height: 1.6;
}

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-started-btn {
    font-family: var(--ff-neuton);
    color: var(--clr-white);
    background-color: var(--clr-brown);
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.5vw;
    border: none;
    padding: 4vw 8vw;
    margin: 12vw 0vw;
    cursor: pointer;
    transition: var(--transition);
}

.get-started-btn:hover, :focus {
    background-color: inherit;
    color: var(--clr-brown);
    border: 1px solid var(--clr-brown);
}

.get-started-text {
    color: var(--clr-brown);
    font-family: var(--ff-neuton);
    padding: 0vw 18vw 18vw 18vw;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 2;
}

.carousel-img {
    width: 100vw;
    height: auto;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    color: var(--clr-brown);
    margin: 12vw 8vw;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel h2 {
    font-family: var(--ff-nooa);
    margin: 0vw;
    font-size: 1.25em;
    width: 60vw;
}

.carousel span {
    font-family: var(--ff-neuton);
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.6;
    width: 60vw;
}

.carousel-item {
    padding: 0vw 4vw;
    width: 60vw;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-btn {
    font-family: var(--ff-neuton);
    color: var(--clr-white);
    background-color: var(--clr-brown);
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.5vw;
    border: none;
    padding: 4vw 8vw;
    margin: 0vw 0vw 20vw 0vw;
    cursor: pointer;
    transition: var(--transition);
}

.start-btn:hover, :focus {
    background-color: inherit;
    color: var(--clr-brown);
    border: 1px solid var(--clr-brown);
}

.numbers {
    background-color: var(--clr-brown);
    color: var(--clr-white);
}

.numbers-img {
    width: 100vw;
    height: auto;
}

.numbers h2 {
    font-family: var(--ff-nooa);
    font-size: 1.25em;
}

.numbers span {
    font-family: var(--ff-neuton);
    font-size: 1em;
    line-height: 2;
}

.numbers-text {
    padding: 4vw 12vw;
}

.numbers-stats {
    font-size: 0.8em;
    margin: 4vw 12vw 12vw 12vw;
    display: grid;
    justify-items: center;
    gap: 4vw 12vw;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
}

.stat {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portfolio-carousel {
    margin: 20vw 8vw 8vw 8vw;
    display: flex;
    overflow-x: scroll;
    color: var(--clr-brown);
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.portfolio-carousel::-webkit-scrollbar {
    display: none;
}

.portfolio-carousel h2 {
    font-family: var(--ff-nooa);
    margin: 4vw 0vw 2vw 0vw;
    font-size: 1.25em;
}

.portfolio-carousel span {
    font-family: var(--ff-neuton);
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.6;
}

.portfolio-preview {
    padding: 0vw 4vw;
}

.case-btn {
    font-family: var(--ff-neuton);
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.5vw;
    background-color: inherit;
    border: 1px solid var(--clr-brown);
    padding: 4vw;
    margin: 2vw 0vw 12vw 0vw;
    cursor: pointer;
    transition: var(--transition);
}

.case-btn:hover, :focus {
    color: var(--clr-white);
    border: none;
    background-color: var(--clr-brown);
}

.view-portfolio-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vw 0vw 12vw 0vw;
}

.portfolio-btn {
    font-family: var(--ff-neuton);
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.5vw;
    background-color: var(--clr-brown);
    color: var(--clr-white);
    border: none;
    padding: 4vw 2vw;
    cursor: pointer;
    transition: var(--transition);
}

.portfolio-btn:hover, :focus {
    background-color: inherit;
    border: 1px solid var(--clr-brown);
    color: var(--clr-brown);
}

.saying {
    background-image: url(assets/mobile-saying.png);
    width: 100vw;
    height: 128.5vw;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.saying h2 {
    margin: 0vw;
    font-weight: 300;
    font-size: 1.3em;
    padding: 14vw 0vw 6vw 0vw
}

.canvas2 {
    height: inherit;
    backdrop-filter: brightness(0.7);
    font-family: var(--ff-nooa);
    color: var(--clr-white);
}

.sonia-container {
    display: flex;
    flex-direction: column;
    margin: 0vw 6vw 6vw 6vw;
    padding: 16vw 6vw;
    color: var(--clr-brown);
    background-color: var(--clr-white);
    font-family: var(--ff-neuton);
    line-height: 2.2;
    font-size: 0.95em;
    font-weight: 400;
}

.name {
    font-size: 0.7em;
    letter-spacing: 0.5vw;
    margin: 4vw 0vw 0vw 0vw;
}

.apple {
    font-weight: 700;
}

.one {
    font-family: var(--ff-neuton);
    font-size: 1.2em;
}

.faq {
    padding: 12vw 8vw 16vw 12vw;
    color: var(--clr-brown);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq-header {
    font-family: var(--ff-nooa);
    font-weight: 700;
    font-size: 2em
}

.faq-body {
    margin: 2vw 0vw;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 4vw 0vw;
}

.question-head {
    text-transform: uppercase;
    color: var(--clr-brown);
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--clr-brown);
    text-align: left;
    font-family: var(--ff-neuton);
    padding: 0vw;
    font-weight: 700;
    font-size: 0.9em;
    padding: 1vw 0vw;
    opacity: 0.75;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.question-head img {
    width: 4vw;
    height: auto;
    margin: 0vw 2vw;
}

.up {
    display: none;
}

.question-head:hover {
    opacity: 1;
}

.question-text {
    font-size: 0.8em;
    line-height: 1.6;
    margin: 2vw 0vw;
    display: none;
}

/* FAQ accordion toggle start */
.open .question-head {
    opacity: 1;
}

.open .up {
    display: flex;
}

.open .down {
    display: none;
}

.open .question-text {
    display: flex;
}
/* FAQ accordion toggle  end*/

.footer {
    background-color: var(--clr-brown);
    padding: 20vw 6vw 8vw 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--clr-white);
    font-family: var(--ff-neuton);
}

.details {
    margin: 12vw 0vw;
    line-height: 1.6;
}

.contact-and-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0vw 4vw 0vw 0vw;
}

.careers-and-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4vw 2vw 2vw 0vw;
}

.contact, .home, .careers, .blog {
    display: flex;
    flex-direction: column;
}

.follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4vw 0vw;
}

.socials img {
    margin: 0vw 2vw;
}